* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9975C7;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C0B2B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header .logo img {
    width: 10%;
    margin: 0 25%;
}

header .menu {
    margin: 0 10%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 3%;
    color: #F8DBFF;
}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

a {
    margin-right: 30px;
    outline: none;
    color: white;
    text-decoration: none;
}

/*---------------------------------------*/

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 60px 20px;
  background-color: #9a76c7;
  min-height: 100vh;
}

/* CARD */
.card {
  position: relative;
  background-color: #b894da;
  border: 3px solid #673c99;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  width: 200px;
  height: 260px; /* <-- altura fixa pra manter formato quadradinho */
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

/* IMAGEM */
.card img {
  width: 100%;
  height: 150px; /* imagem fica proporcional */
  object-fit: cover;
  border-radius: 15px;
}

/* TÍTULO */
h3 {
  margin: 10px 0;
  color: #4d2c70;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* BOTÃO DE CONTATO */
.contact-btn {
  background-color: #673c99;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-btn:hover {
  background-color: #4b2a74;
}

/* ESTRELA DE FAVORITO */
.favorite-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.star {
  color: #ffcf3c;
  transition: transform 0.2s;
}

.star.active {
  color: #ffb800;
  transform: scale(1.2);
}
