nav {
  background-color: #1c0b2b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  list-style-type: none;
  
}

a {
  font-size: 2rem;
  justify-items: center;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-weight: 900;
}

.logo_adocao{
  margin-left: 5%;
  list-style-type: none;
}

