* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #a587cd;
  display: flex;
  flex-direction: column; /* Adicionando flexbox ao body */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ajuste para garantir o preenchimento completo */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1C0B2B;
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}


a{
  margin-right: 30px;
  outline: none;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

/*=================INICIO FORMS+====================================-*/
.form-container {
  background-color: #6b3b8c;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(28, 11, 43, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  width: 50%;
  position: absolute;
  top: 150px;
=======
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 500px; /* Limitar a largura máxima do formulário */
  margin: 20px; /* Adiciona uma margem ao redor do formulário */
>>>>>>> 805af28ba4ced7301160ef863297cd483e7a013b
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #f8dbff;
  font-size: 2.3rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1rem;
}

input {
  padding: 2.5%;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #1c0b2b;
  width: 100%;
}

input::placeholder {
  color: #8a6faf;
}

button {
  background-color: #b984ff;
  color: #f8dbff;
  padding: 3%;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  background-color: #a967ff;
}



details summary {
  cursor: pointer;
  padding: 10px;
  background: #8b5ecf;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}

details p {
  padding: 10px;
  background: #eee;
  border-radius: 8px;
  margin-top: 10px;
}

/*=================INICIO FORMS+====================================*/
