* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

.contato-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contato-form-container {
  background-color: #6b3b8c;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(28, 11, 43, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 20px;
  position: absolute;
  top: 150px;
  text-align: center;
}

.contato-titulo {
  margin-bottom: 20px;
}

.contato-heading {
  font-size: 2.3rem;
  color: #f8dbff;
  text-align: center;
}

.contato-subheading {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #f8dbff;
}

.contato-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.contato-label {
  font-size: 1rem;
  align-self: flex-start;
}

.contato-input {
  padding: 2.5%;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  color: #1c0b2b;
  width: 100%;
}

.contato-input::placeholder {
  color: #8a6faf;
}

.contato-button {
  background-color: #b984ff;
  color: #f8dbff;
  padding: 3%;
  border: none;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

.contato-but
