.login-container {
  background-color: #6b3b8c;
  margin: 5% 35%;
  padding: 2%;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.titulo-login{
  color: #e8c8f4;
  font-size: 3rem;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

label {
  text-align: left;
  font-weight: bold;
  color: #f0d9ff;
  margin-bottom: 5px;
  font-size: 1.5rem;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 0.9em;
}

button {
  background-color: #d2a8ff;
  color: #41027c;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background-color: #b179e0;
}

.nao-tem-conta{
  margin-top: 5%;
}

.p-cadastre-se{
  margin-bottom: 0;
  color: #e8c8f4;
}

.cadastra-se{
  text-decoration: none;
  color: #fff;
}