section {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  width: 25%;
}

input[type="text"],
input[type="number"] {
  transition: all 0.2s ease;
  background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: 2px solid #d8b4fe;
  background-color: #fff;
}

.castrado-input {
  margin: 0.01%;
  padding: 1%;
}

.foto-pet {
  transition: all 0.2s ease;
  background-color: #fff;
}

.castrado-options {
  display: flex;
  justify-content: space-around;
}

