body {
  margin: 0;
  background-image: url("../img/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  color: rgb(255, 255, 255);
}


section {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}


input[type="text"],
input[type="number"] {
  transition: all 0.2s ease;
  background-color: #fff
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: 2px solid #d8b4fe; 
  background-color: #fff;
}