<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adocão</title>
  <link rel="stylesheet" href="../projeto/css/estilosobre.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div class="logo">LOGO</div>
        <div class="menu">
            <a href="#">CADASTRE-SE</a>
            <a href="#">LOGIN</a>
        </div>
    </header>

  <section class="sobre">
    <h2 class="titulo">SOBRE NOSSO PROJETO</h2>

    <div class="cards">
      <div class="card">
        <h3 class="card-titulo">QUEM SOMOS?</h3>
        <p>
          Somos um projeto de adoção de qualquer tipo de pet! 
          Com sistema de localização para calcular sua distância até o seu futuro pet.
        </p>
      </div>

      <div class="card">
        <h3 class="card-titulo">O QUE FAZEMOS?</h3>
        <p>
          Compartilhamos pets que estão precisando de donos, além de que qualquer usuário cadastrado 
          consegue achar um dono para um pet carente também!
        </p>
      </div>
    </div>


<div class="integrantes">
  <h3 class="integrantes-titulo">INTEGRANTES</h3>

  <div class="integrantes-lista">
    
    <div class="membro">
      <img src="img/dri.jpg" alt="Foto do integrante 1">
      <h4>Adriano Bendazzoli</h4>
     
    </div>

    
    <div class="membro">
      <img src="img/alysson.jpg" alt="Foto do integrante 2">
      <h4>Alysson Rocha</h4>
      
    </div>

    
    <div class="membro">
      <img src="img/daniel.jpg" alt="Foto do integrante 3">
      <h4>Daniel Diogo</h4>
    
    </div>

    
    <div class="membro">
      <img src="img/felipe.jpg" alt="Foto do integrante 4">
      <h4>Felipe José</h4>
      
    </div>

    
    <div class="membro">
      <img src="img/moretti.jpg" alt="Foto do integrante 5">
      <h4>Guilherme Moretti</h4>
      
    </div>
  </div>
</div>

  </section>
</body>
</html>
