main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadastro-container {
  background-color: #6b3b8c;
  padding: 35px;
  border-radius: 15px;
  width: 850px;
  color: #f0d9ff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.cadastro-container h2 {
  text-align: left;
  color: #e8c8f4;
  font-size: 3rem;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 0.9em;
}

.foto-btn {
  background-color: #d2a8ff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  color: #2b153f;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.foto-btn:hover {
  background-color: #b179e0;
}

.botao {
  justify-content: flex-end;
}

button[type="submit"] {
  background-color: #d2a8ff;
  color: #2b153f;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background-color: #b179e0;
}
