.cadastro-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 0%;
}

.cadastro-container {
  background-color: #6b3b8c;
  padding: 35px;
  border-radius: 15px;
  width: 850px;
  color: #f0d9ff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.cadastro-titulo {
  text-align: left;
  color: #e8c8f4;
  font-size: 3rem;
  margin-bottom: 25px;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro-linha {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.cadastro-campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cadastro-label {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 5px;
}

.cadastro-input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  font-size: 0.9em;
  color: black;
}

.cadastro-button {
  background-color: #d2a8ff;
  color: #2b153f;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.cadastro-button:hover {
  background-color: #b179e0;
}

.cadastro-botao {
  justify-content: flex-end;
}

.cadastro-mensagem {
  color: #ffdfdf;
  font-weight: bold;
  margin-top: 15px;
}
