<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil</title>

    
    <script src="https://cdn.tailwindcss.com"></script>

 
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../projeto/css/estilo_cadastro_pet.css" />
    <link rel="stylesheet" href="../projeto/css/perfil.css" />
    <link rel="stylesheet" href="../projeto/css/perfil_vizu.css">
  </head>

  <body class="text-white">
    <header>
      <div class="logo">LOGO</div>

      <div class="menu">
        <a href="#">CADASTRE-SE</a>
        <a href="#">LOGIN</a>
      </div>
    </header>

    <section class="bg-container">
      <div class="perfil-card">
        <div class="foto-container">
          <img src="../projeto/img/dri.jpg" alt="Foto do usuário" class="foto-perfil" />
        </div>

        <h2 class="nome-usuario">Adriano Bendazzoli</h2>

        <div class="info-container">
          <p><strong>Email:</strong> adriano@email.com</p>
          <p><strong>Telefone:</strong> (11) 91234-5678</p>
          <p><strong>Endereço:</strong> Rua Exemplo, 123 - Bairro, Cidade</p>
        </div>

        <div class="botoes">
          <a href="perfil.html" class="btn-editar">Editar Perfil</a>
          <a href="#" class="btn-sair">Sair</a>
        </div>
      </div>
    </section>
  </body>
</html>
