header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C0B2B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
a{
    margin-right: 30px;
}
.inicio {
    margin: 50px auto;
    font-size: 55px;
    font-weight: bold;
    color: #1C0B2B;
    text-align: left;
    margin-left: 75px;
}

.casa, .cachorros{
    margin-left: 25%;
    margin-top: 7%;
    width: 70%;
}
.cachorros {
  position: absolute;
  top: 0;
  left: 0;
   z-index: 2;
}

.casa {
  z-index: 1;

}

.card-adocao {
    border: 2px solid #1C0B2B;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background-color: #E7D5FF;
}

.cachorro-inicio {
    width: 15%;
    margin-left: 5%;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.casa-fundo {
    width: 100%;
    position: relative;
    z-index: 1;
}


.animais {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    z-index: 2;
}