* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #9975C7;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C0B2B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

header .logo img {
    width: 10%;
    margin: 0 25%;
}

header .menu {
    margin: 0 10%;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 3%;
    color: #F8DBFF;
}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

a {
    margin-right: 30px;
    outline: none;
    color: white;
    text-decoration: none;
}

/*=================INICIO FORMS+====================================*/
.form-container {
    background-color: #1C0B2B;
    padding: 3.5%;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(28, 11, 43, 0.5);
    width: 100%;
    max-width: 550px;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #F8DBFF;
    font-size: 2rem;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

label {
    font-size: 1rem;
}

input {
    padding: 3%;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    color: #1C0B2B;
    width: 100%;
}

input::placeholder {
    color: #8a6faf;
}

button {
    background-color: #9975C7;
    color: #F8DBFF;
    padding: 3%;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

button:hover {
    background-color: #7c5fa3;
}

/*=================INICIO FORMS+====================================*/

