*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    overflow-x: hidden;
}

.container {
    min-height: 100vh;
    width: 100vw;
    background-color: #9975c7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20%;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C0B2B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


a{
    margin-right: 30px;
    outline: none;
    color: white;
    text-decoration: none;
}

h1{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}
