*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #A587CD;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1C0B2B;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
a{
    margin-right: 30px;
    outline: none;
    color: white;
    text-decoration: none;
}
