* {
  font-family: "Outfit", sans-serif;
  color: #000;
  margin: 0;
}

body {
  background-image: url("../img/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}
