<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend-adocao/src/styles/Fav/fav.css">
    <title>Favoritos</title>
</head>

<body>
    <header>
        <div class="logo">LOGO</div>
        <div class="menu">
            <a href="#">CADASTRE-SE</a>
            <a href="#">LOGIN</a>
        </div>
    </header>
    <main>
        <div class="cards-container">
            <div class="card">
                <button class="favorite-btn">
                    <span class="star">☆</span>
                </button>
                <img src="/frontend-adocao/public/img/maxerex.jpg" alt="Myke">
                <h2>Max & Rex</h2>
                <button class="contact-btn">ENTRE EM CONTATO 💌</button>
            </div>

            <div class="card">
                <button class="favorite-btn">
                    <span class="star">☆</span>
                </button>
                <img src="/frontend-adocao/public/img/miuaimiau2.jpg" alt="Timoty">
                <h2>TIMOTY</h2>
                <button class="contact-btn">ENTRE EM CONTATO 💌</button>
            </div>

            <div class="card">
                <button class="favorite-btn">
                    <span class="star">☆</span>
                </button>
                <img src="/frontend-adocao/public/img/dogemiau.webp" alt="Peter & Nick">
                <h2>Peter & Nick</h2>
                <button class="contact-btn">ENTRE EM CONTATO 💌</button>
            </div>
        </div>
    </main>
    <script src="fav.js"></script>
</body>

</html>