.home-main {
  width: 100%;
  background-color: #a587cd;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3% 10%;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.home-col {
  flex: 1;
}

.text-section {
  max-width: 65%;
}

.home-titulo {
  font-size: 4rem;
  font-weight: bold;
  color: #eee4f0;
  margin-bottom: 1rem;
}

.home-subtitulo {
  font-size: 2.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.home-card {
  background-color: #d1b2ee;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.home-card-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.home-card-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-card-titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.home-card-subtitulo {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-pets-adotados {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.home-icon-cachorro {
  width: 50%;
}

.home-txt-direita {
  font-size: 1.5rem;
  font-weight: bold;
}

.home-img-perfis-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.home-ultimas-adocoes {
  width: 50px;
  border-radius: 50%;
}

.home-divisor {
  width: 1px;
  background-color: purple;
  border-radius: 4px;
  margin: 0 10px;
}

.lista-animais {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.home-sem-bolinha {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  text-align: start;
}

.home-sem-bolinha li::before {
  content: "-";
  margin-right: 10px;
}

.casa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.casa-icon img {
  max-width: 100%;
  height: auto;
}
